@tailwind base;
@tailwind components;
@tailwind utilities;

.fixed {
  position: fixed;
  animation: setFixed 1s ease;
}
@keyframes setFixed {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
.megaParent:hover .megaChild {
  color: white;
  background: red;
}
.animate-fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(400px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeLeft {
  animation: fadeLeft 1s ease-out forwards;
}
@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  10% {
    opacity: 0.5;
    transform: scale(1.2);
  }
  30% {
    opacity: 0.6;
    transform: scale(1.5);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.3);
  }
  70% {
    opacity: 0.8;
    transform: scale(1.1);
  }
  85% {
    opacity: 0.9;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.swiper-button-next,
.swiper-button-prev {
  @apply size-10 text-white shadow-lg;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.5rem;
}
.swiper-button-next::after:hover,
.swiper-button-prev::after:hover{
  color: white;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  @apply text-white
}
.cart_parent:hover .cart_child{
  display: flex;
  animation: overAnimate 0.5s linear;
}
@keyframes overAnimate {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.custom-select {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="0 0 20 20"%3E%3Cpath fill-rule="evenodd" d="M10 12a1 1 0 01-.707-.293l-4-4a1 1 0 111.414-1.414L10 9.586l3.293-3.293a1 1 0 111.414 1.414l-4 4A1 1 0 0110 12z" clip-rule="evenodd"%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #e11d48;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
  pointer-events: all;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background-color: #e11d48;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
  pointer-events: all;
}


.cr-wrapper *,
.cr-wrapper *::before,
.cr-wrapper *::after {
	box-sizing: content-box !important;
}

.cr-wrapper input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.cr-wrapper span {
	font-size: 16px;
  color: rgb(71, 71, 71);
}

.cr-wrapper {
	display: table;
	position: relative;
	padding-left: 30px;
  font-weight: 600;
	cursor: pointer;
	margin-bottom: 15px;
}

.cr-wrapper input[type="checkbox"] ~ .cr-input {
	position: absolute;
	top: 50%;
	left: 0;
	height: 20px;
	width: 20px;
	background: #FFFFFF;
	transition: background 250ms;
	border: 1px solid #CACACA;
	border-radius: 19px;
	transform: translate(0, -50%);
}

.cr-wrapper input[type="radio"] ~ .cr-input {
	position: absolute;
	top: 50%;
	left: 0;
	height: 20px;
	width: 20px;
	background: #FFFFFF;
	transition: background 250ms;
	border: 1px solid #CACACA;
	border-radius: 20px;
	transform: translate(0, -50%);
}

.cr-wrapper input[type="checkbox"] ~ .cr-input::after {
	content: "";
	position: absolute;
	display: none;
	left: 4px;
	top: 4px;
	width: 12px;
	height: 12px;
	transition: background 250ms;
	background-color: #FFFFFF;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.cr-wrapper input[type="radio"] ~ .cr-input::after {
	content: "";
	position: absolute;
	display: none;
	left: 4px;
	top: 4px;
	width: 12px;
	height: 12px;
	border-radius: 20px;
	background: #FFFFFF;
	transition: background 250ms;
}

.cr-wrapper input:checked ~ .cr-input::after {
	display: block;
}

.cr-wrapper:hover input[type="checkbox"]:not([disabled]) ~ .cr-input,
.cr-wrapper input[type="checkbox"]:focus ~ .cr-input {
	background: #FF0000;
	border-color: #FF0000;
}

.cr-wrapper:hover input[type="radio"]:not([disabled]) ~ .cr-input,
.cr-wrapper input[type="radio"]:focus ~ .cr-input {
	background: #FF0000;
	border-color: #FF0000;
}

.cr-wrapper input[type="checkbox"]:checked ~ .cr-input {
	background: #FF0000;
	border-color: #FF0000;
}

.cr-wrapper input[type="radio"]:checked ~ .cr-input {
	background: #FF0000;
	border-color: #FF0000;
}

.cr-wrapper input[type="checkbox"]:disabled ~ .cr-input,
.cr-wrapper input[type="radio"]:disabled ~ .cr-input {
	opacity: 0.5;
	cursor: not-allowed;
}

.cr-wrapper input[type="checkbox"]:disabled ~ span,
.cr-wrapper input[type="radio"]:disabled ~ span {
	opacity: 0.5;
	cursor: not-allowed;
}

.cr-wrapper input[type="checkbox"]:disabled ~ .cr-input::after {
	background: #FFFFFF;
}

.cr-wrapper input[type="radio"]:disabled ~ .cr-input::after {
	background: #FFFFFF;
}

.cr-wrapper:hover input[type="checkbox"]:not([disabled]):checked ~ .cr-input,
.cr-wrapper input[type="checkbox"]:checked:focus ~ .cr-input {
	background: #FF0000;
	border-color: #FF0000;
}

.cr-wrapper:hover input[type="radio"]:not([disabled]):checked ~ .cr-input,
.cr-wrapper input[type="radio"]:checked:focus ~ .cr-input {
	background: #FF0000;
	border-color: #FF0000;
}
